{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/portfolio/listPortfolios.css") }}">
{% endblock %}

{% block body %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% include('@App/_sideBar.html.twig') %}
    {% endif %}
    <div class="col-md-8">
        <h2>Manage <em>{{ portfolio.name }}</em></h2>
        <h4>Difficulty: {{ portfolio.difficulty }} | Initial cash amount: {{ (portfolio.initialCashAmount/100)|number_format }} $</h4>

        <h3>Investment return:
            {% if return >= 0 %}
                <span class="green"> {{ return|number_format(3) }}% </span></h3>
            {% else %}
                <span class="red"> {{ return|number_format(3) }}% </span></h3>
            {% endif %}
        <h3>Cash available:</h3>
        {{ (portfolio.presentCashAmount/100)|number_format(2) }} $

        {{ include("@App/portfolio/_holdings.html.twig") }}

        {{ include("@App/portfolio/_transactions.html.twig") }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ asset('js/shareTransaction.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}