<div class="col-md-2">
    <ul class="nav nav-pills nav-stacked topMargin">
        <li>
            <a class="btn btn-success buttonTopMargin" href="{{ path('addYahooStock') }}">
                Add Yahoo Stock
            </a>
        </li>
        <li>
            <a class="btn btn-success buttonTopMargin" href="{{ path('showAllUsers') }}">
                Show all users
            </a>
        </li>
        <li>
            <a class="btn btn-success buttonTopMargin" href="{{ path('showAllPortfolios') }}">
                Show all portfolios
            </a>
        </li>
        <li>
            <a class="btn btn-success buttonTopMargin" href="{{ path('showAllComments') }}">
                Manage comments
            </a>
        </li>
        <li>
            <a class="btn btn-success buttonTopMargin" href="{{ path('showAllTransactions') }}">
                Manage transactions
            </a>
        </li>
    </ul>
</div>